* {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
}

.topmost-section,.home-page {
    text-align: center;
}

.topmost-section img {
    margin-bottom: 1rem;
}

.topmost-section h1 {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 1.2rem;
}

.topmost-section nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

nav a {
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 700;
    padding: 3px;
    color: #B5D797;
}

.home-page {
    margin: 1rem 2rem;
}

.home-page a {
    margin-top: 5px;
}

.home-page p {
    margin-bottom: 2rem;
}

hr {
    background-color: #B5D797;
}