body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

header img {
    padding: 3rem;
    width: 140px;
    height: 140px;
}

h1 {
    text-align: center;
    width: 61%;
    font-size: 4rem;
    color: #687C97;
}

nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    font-size: 2.5rem;
}

nav a {
    color: #687C97;
    font-weight: 500;
    text-decoration: none;
    padding: 0rem 1.8rem;
}